@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-main-1: #5b79c7;
  --color-main-2: #a4b1d3;
  --color-main-3: #f8faff;
  --color-red: #fd5a0f;
}

@layer base {
  @font-face {
    font-family: "Pretendard";
    src: "./node_modules/pretendard/dist/web/variable/woff2/PretendardVariable.woff2";
    font-weight: 100 900;
    font-display: swap;
  }
}

@layer components {
}

@layer utilities {
  .board-style {
    --board-padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1.8fr 6.9fr 1.4fr 1.4fr;
    text-align: center;

    &.board-sm span {
      padding: 10px;
    }

    &.board-md > span {
      padding: 14px;
    }
  }

  .border-not-first > *:not(:first-child) {
    border-left-width: 1px;
    border-color: theme("colors.main-1");
  }

  .border-not-last > *:not(:last-child) {
    border-bottom-width: 1px;
    border-color: theme("colors.main-1");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--color-main-1);
  font-family: "Pretendard", Helvetica, sans-serif;
}
